#bel_cms_widgets_user {
	display: block;
}
#have_back {
	display: block;
	text-align: center;
	padding: 5px;
	border-top: 1px dotted rgba(255, 255, 255, .05);
	border-bottom: 1px dotted rgba(255, 255, 255, .05);
	margin-bottom: 10px;
}
#new_here {
	display: block;
	font-size: 11px;
	text-align: center;
	margin:5px auto 0;
}
#bel_cms_widgets_user input {
	color: rgba(255, 255, 255, 1);
	border-color: rgba(255, 255, 255, .05);
}

/* LOGUER */
#bel_cms_widgets_user_username {
	display: block;
	text-align: center;
	font-size: 15px;
}
#bel_cms_widgets_user_img {
	display: block;
	margin: auto;
	width: 150px;
	height: 150px;
}
#bel_cms_widgets_user_ul {
	display: block;
	width: 100%;
	list-style: none;
	margin: 15px auto;
	padding: 0;
	border-top: 1px dotted rgba(255, 255, 255, .05);
	border-bottom: 1px dotted rgba(255, 255, 255, .05);
	overflow: hidden;
	text-align: center;
}
#bel_cms_widgets_user_ul li {
	display: inline-block;
}
#bel_cms_widgets_user_ul li a {
	display: block;
	line-height: 40px;
	width: 40px;
}
#bel_cms_widgets_user_log {
	display: block;
	text-align: justify;
	border-bottom: 1px dotted rgba(255, 255, 255, .05);
	padding: 5px 0;
}
#bel_cms_widgets_user_log {
	display: block;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px dotted rgba(255, 255, 255, .05);
}
#bel_cms_widgets_user_log a {
	width: 50%;
	float: left;
	text-align: center;
	line-height: 40px;
}
#bel_cms_widgets_user_log a:first-child {
	border-right: 1px dotted rgba(255, 255, 255, .05);
}